<div id="request-form-wrapper">
  <%= form_for @request do |f| %>
    <%= f.hidden_field :school_id, :value => current_school.id %>

    <div class="form-group">
      <span><i class="fa fa-tag"></i> | Request Alias</span>
      <%= f.text_field :request_name, value: "#{current_school.get_request_name}", class: "form-control group-form-input" %>
    </div>

    <div class="form-group">
      <span><i class="fa fa-dollar"></i> | Payment</span>
      <%= f.text_field :payment, class: "form-control group-form-input", placeholder: "$ in dollars" %>
    </div>

    <div class="form-group">
      <span><i class="fa fa-calendar"></i> | Placement Date</span>
      <%= f.date_field :date, class: "form-control group-form-input" %>
    </div>

    <div class="form-group">
      <span><i class="fa fa-sun-o"></i> | Start Time</span>
      <%= f.time_field :start_time, class: "form-control group-form-input" %>
      <%#= f.time_select :start_time, {minute_step: 15, ampm: true, default: {:hour => '0', :minute => '0'}} %>
    </div>

    <div class="form-group">
      <span><i class="fa fa-moon-o"></i> | End Time</span>
      <%= f.time_field :end_time, class: "form-control group-form-input" %>
      <%#= f.time_select :end_time, {minute_step: 15, ampm: true, default: {:hour => '23', :minute => '45'}} %>
    </div>

    <div class="form-group">
      <span><i class="fa fa-pencil"></i> | Grade of Opening</span>
        <%= f.select :grade, [ ["Kindergarten", 0], ["1st Grade", 1], ["2nd Grade", 2],
                               ["3rd Grade", 3], ["4th Grade", 4], ["5th Grade", 5],
                               ["6th Grade", 6], ["7th Grade", 7], ["8th Grade", 8],
                               ["9th Grade", 9], ["10th Grade", 10], ["11th Grade", 11],
                               ["12th Grade", 12] ], {prompt: "Select a Grade..."}, class: "form-control group-form-input" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary btn-sm" %>
      <%= link_to "Cancel", root_path, class: "btn btn-default btn-sm pull-right" %>
    </div>

  <% end %>
</div>
