<!DOCTYPE html>
<html>
<head>
  <title>SubList</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= favicon_link_tag 'apple_favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/navbar" %>

  <div class="container">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
